<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.starterkit.view"
            class="com.starterkit.todolist.views.ToDoListCreator"
            icon="icons/sample.gif"
            id="com.starterkit.todolist.views.ToDoListCreator"
            name="ToDoListCreator">
      </view>
      <view
            category="com.starterkit.view"
            class="com.starterkit.todolist.views.ToDoList"
            icon="icons/sample.gif"
            id="com.starterkit.todolist.views.ToDoList"
            name="ToDoList"
            restorable="true">
      </view>
      <view
            category="com.starterkit.view"
            class="com.starterkit.todolist.views.Archived"
            icon="icons/sample.gif"
            id="com.starterkit.todolist.views.Archived"
            name="Archived"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.todolist.toDoListPerspective">
         <view
               closeable="false"
               id="com.starterkit.todolist.views.ToDoList"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="right"
               relative="com.starterkit.todolist.views.ToDoListCreator"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.starterkit.todolist.views.Archived"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="com.starterkit.todolist.views.ToDoList"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.starterkit.todolist.views.ToDoListCreator"
               moveable="false"
               ratio="RATIO_MAX"
               relationship="right"
               relative="com.starterkit.todolist.views.ToDoListCreator"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.starterkit.todolist.ToDoListPerspectiveFactory"
            id="com.starterkit.todolist.toDoListPerspective"
            name="toDoListCreator">
      </perspective>
   </extension>
   <extension
         name="Show"
         point="org.eclipse.ui.commands">
      <command
            id="com.starterkit.todolist.commands.popup.showSelected"
            name="Show">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.starterkit.todolist.popup.MyHandler"
            commandId="com.starterkit.todolist.command2">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.starterkit.todolist.views.ToDoList">
         <command
               commandId="com.starterkit.todolist.command2"
               label="Show details"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
